{% load staticfiles %}
{% load users_ids_list %}
{% id_list as id_list %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EME</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'users/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'users/css/stylesheet.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'users/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'users/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'users/css/creative.min.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'users/img/newupcifavicon.png' %}">


  </head>

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav1" style="white-space: nowrap;">
      <div class="container-fluid">
        <a href="https://www.upci.org/home" target="_blank"><img align="left" src="{% static 'users/img/newheader1.png' %}" alt="UPCI" width="90" height="32"></a>&nbsp;
        &nbsp;<a href="{% url 'users:home' %}#page-top" style="font-size: 16px; color: black;"><h6><span class="align-middle"><b>EME</b> Region</a></span></h6>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse drp-down-height-mobile" style="cursor: pointer" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                  <li class="nav-item dropdown">
                      <a class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <h6>Update &#9662;</h6>
                    </a>
                       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                         <!-- <a class="dropdown-item" href="{% url 'users:report' %}"><h6>Report</h6></a> -->
                         <a class="dropdown-item" href="{% url 'users:post-create' %}"><h6>Add Church</h6></a>
                         <a class="dropdown-item" href="{% url 'users:cabinet' %}"><h6>Profile</h6></a>
                          {% for id_list in id_list %}
                            {% if user.id == id_list.id %}
                              <a class="dropdown-item" target="_blank" href="{% url 'users:calendar-form' %}"><h6>Submit Event</h6></a>
                            {% endif %}
                          {% endfor %}
                         
                        </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}"><h6>Log Out</h6></a>
                    </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'login' %}"><h6>Log In</h6></a>
                  </li>
              {% endif %}

                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'users:home' %}#about"><h6>About</h6></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'users:youtube' %}"><h6>Videos</h6></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'users:home' %}#areas"><h6>Areas</h6></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'users:home' %}#locate"><h6>Church Locator</h6></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'users:home' %}#ministries"><h6>Ministries</h6></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'users:home' %}#contact"><h6>Connect</h6></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'users:calendar' %}"><h6>Events</h6></a>
                </li>
            </ul>
        </div>
      </div>

    </nav>



{% block content %}

{% endblock %}


<script type="text/javascript" id="cookieinfo"
    src="//cookieinfoscript.com/js/cookieinfo.min.js">
</script>


<script src="{% static 'users/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'users/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'users/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'users/vendor/scrollreveal/scrollreveal.min.js' %}"></script>
<script src="{% static 'users/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'users/js/creative.js' %}"></script>

<!-- Youtube channel video scripts -->
<!-- <script src="{% static 'jquery-3.5.0.min.js' %}"></script> -->
<script src="{% static 'users/js/youtube.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



<script>


function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}

$(document).on('click',function(){
	$('.navbar-collapse').collapse('hide');
})
</script>


</body>

</html>
