{% extends 'shared/base.html' %}
{% load staticfiles %}


{% block content %}

    <div class="container mt-5 pt-5">
      <div class="justify-content-center align-items-center mb-4 mt-4">
      <h1>Events Calendar</h1>
    </div>
    <table class="table" style="width: 800px">
  <thead>
    <tr>
      <th class="ml-2" scope="col">From:</th>
      <th scope="col">To:</th>
      <th scope="col">Event name:</th>
      <th scope="col">Link:</th>
    </tr>
  </thead>
  </table>

      <div class="row">
        <div class=" border-bottom">
          {% for event in calendar %}
            <p class="ex">{{event.date_from}}</p>
          {% endfor %}
        </div>
        <div class="pl-5 ml-5">
          {% for event in calendar %}
            <p class="ex">{{event.date_to}}</p>
          {% endfor %}
        </div>
        <div class="ml-4 pl-5">
          {% for event in calendar %}
            <p class="ex">{{event.title}}</p>
          {% endfor %}
        </div>
        <div class="ml-4">
          {% for event in calendar %}
            {% if event.link %}
              <p class="ex"><a href="{{event.link}}">Learn more ..</a></p>
            {% else %}
              <p class="ex"><small>No link provided</small></p>
            {% endif %}
          {% endfor %}


        </div>

      </div>

    {% endblock %}