{% extends 'shared/base.html' %}
{% load staticfiles %}


{% block content %}


<div class="justify-content-center align-items-center mb-4 mt-5 ml-4 pt-3">
  <h2>Events Calendar</h2>
</div>

<table class="table">
<thead class="thead-inverse">
<tr>
  <th>Date from:</th>
  <th>Date to:</th>
  <th>Event name:</th>
  <th>Link:</th>
</tr>
</thead>

{% for item in calendar %}
<tbody>
<tr>
  <td>{{item.date_from}}</td>
  <td>{{item.date_to}}</td>
  <td>{{item.title}}</td>
  <td>{{item.link}}</td>
</tr>
</tbody>
{% endfor %}
</table>

    {% endblock %}