{% extends 'shared/base.html' %}
{% load staticfiles %}


{% block content %}


  <div class="justify-content-center align-items-center mb-4 mt-4 ml-4">
    <h1>Events Calendar</h1>
  </div>
<div class="container mt-4">
  <div class="head">

    <div class="row">
      <div class="col-md-3">
        <div class="blue pl-2"><strong>From:</strong></div>
      </div>

      <div class="col-md-3">
        <div class="red pl-2"><strong>To:</strong></div>
      </div>

      <div class="col-md-3">
        <div class="blue pl-2"><strong>Event name:</strong></div>
      </div>

      <div class="col-md-3">
        <div class="red pl-2"><strong>Link:</strong></div>
      </div>
 </div>
</div>

<div class="content mt-5">

    <div class="row mt-2">
      <div class="col-md-3">
        {% for event in calendar %}
        <div class="gold text-break mt-2">{{event.date_from}}</div>
        {% endfor %}
      </div>

      <div class="col-md-3">
        {% for event in calendar %}
        <div class="gold text-break mt-2">{{event.date_to}}</div>
        {% endfor %}
      </div>

      <div class="col-md-3">
        {% for event in calendar %}
        <div class="gold text-break mt-2">{{event.title}}</div>
        {% endfor %}
      </div>

      <div class="col-md-3">
        {% for event in calendar %}
        <div class="gold text-break mt-2">{{event.link}}</div>
        {% endfor %}
      </div>

    </div>

  </div>
</div>

  <div style="margin-left: 245px;">
    {% for event in calendar %}
      {% if event.link %}
        <p class="ex"><a href="{{event.link}}">Learn more ..</a></p>
      {% else %}
        <p class="ex"><small>No link provided</small></p>
      {% endif %}
    {% endfor %}
  </div>

</div>
</div>
</div>


    {% endblock %}