{% extends 'shared/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}

<div class="content-section ml-5 mt-5">
    <h3 class="mb-5">Add Event</h3>
<form method="post">
  {% csrf_token %}
  <fieldset class="form-group">

    

      <p>Date from: {{ form.date_from|as_crispy_field }}</p>
      <p>Date to: {{ form.date_to|as_crispy_field }}</p>
      <p>Title {{ form.title|as_crispy_field }}</p>
      <p>Link {{ form.link|as_crispy_field }}</p>


  </fieldset>
  <div class="form-group">
    <button class="btn btn-outline-info" type="submit">Submit</button>
  </div>

</form>

</div>

{% endblock %}