{% extends 'shared/base.html' %} {% load staticfiles %} {% block content %}
<br />
<br />

<div class="content-section col-lg-6">


  <h5 class="mt-4 ml-4">Report view</h5>
    <div class="">
        {% for report in report %}
          <div class="table-responsive p-3 m-3">
            <div class="row">
                <p class="font-italic small"><p>
            </div>
            <div class="row">
                <p class="font-weight-bold small">Area name: &nbsp </p>
                <p class="font-italic small">{{ report.area }}</p>
            </div>
            <div class="row">
                <p class="font-weight-bold small">Country name: &nbsp </p>
                <p class="font-italic small">{{ report.country }}</p>
            </div>
            <div class="row">
                <p class="font-weight-bold small"> How many Received the Holy Ghost? &nbsp</p>
                <p class="font-italic small"> {{ report.holy_ghost }}</p>
            </div>
            <div class="row">
                <p class="font-weight-bold small">How many were Baptized in Jesus Name? &nbsp</p>
                <p class="font-italic small">{{ report.water_baptism }}</p>
           </div>
           <div class="row">
               <p class="font-weight-bold small">How many newly Licensed Ministers? &nbsp</p>
               <p class="font-italic small">{{ report.new_ministers }}</p>
          </div>
          <div class="row">
              <p class="font-weight-bold small">How many Upgraded Licenses? &nbsp</p>
              <p class="font-italic small">{{ report.upgrade_licence }}</p>
            </div>
            <div class="row">
              <p class="font-weight-bold small">How many New Preaching Places?? &nbsp</p>
              <p class="font-italic small">{{ report.preaching_place }}</p>
            </div>
            <div class="row">
              <p class="font-weight-bold small">How many New Churches? &nbsp</p>
              <p class="font-italic small">{{ report.new_churches }}</p>
            </div>
            <div class="row">
              <p class="font-weight-bold small">Current constituents? &nbsp</p>
              <p class="font-italic small">{{ report.constituents }}</p>
            </div>
            <div class="row">
              <p class="font-weight-bold small">Total filled with Holy Ghost? &nbsp</p>
              <p class="font-italic small">{{ report.total_holy_ghost }}</p>
            </div>
            <div class="row">
              <p class="font-weight-bold small">Total Baptized in Jesus Name: &nbsp</p>
              <p class="font-italic small">{{ report.total_baptized }}</p>
            </div>
            <div class="row">
               <p class="font-italic small">Report added by {{ author.first_name }} {{author.last_name}} on :&nbsp</p>
               <p class="font-italic small">{{ report.month }}</p>
          </div>
          </div>
      {% endfor %}
    </div>
</div>

{% endblock %}
