{% extends 'shared/base.html' %} {% load staticfiles %} {% block content %}

<br>
<br>
<br>
<br>
<div class="container">

<h4 class="text-center m-4 p-4">See the reports</h4>

      <div class="dropdown" align="center">
         <button  onclick="myFunction()"
                  class="dropbtn dropdown-toggle"
                  style=" border: 26px solid #a8abaf;
                       cursor: pointer;
                       font-weight: bold; background-color: #447193;
                       color: white; padding: 8px; border-radius: 0px;
                       font-size: 16px;);">Sort by area
         </button>
       </div>
      <div id="myDropdown" class="dropdown-content">
          <input type="text" style="width: 238px;" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
          {% for area in areas %}
            <a href="{% url 'users:report_countries' area.pk %}">{{area}}</a>
          {% endfor %}
      </div>
</div>
</div>




<!-- {% if user == patron %} -->

   <div class="container-fluid">
                  <div class="child1">
                  </div>
                  <div class="child2">
                    <div class="dropdown" align="center">
                       <button  onclick="myFunction()"
                                class="dropbtn dropdown-toggle"
                                style=" border: 26px solid red;
                                     cursor: pointer;
                                     width: 238px;
                                     font-weight: bold; background-color: #447193;
                                     color: white; padding: 8px; border-radius: 0px;
                                     font-size: 16px;);">Sort by a Country
                       </button>
                     </div>
                  <div id="myDropdown" class="dropdown-content">
                        <input type="text" style="width: 238px;" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                        {% for list in list %}
                          <a href="{% url 'users:report_view' country.pk %}">{{list}}</a>
                        {% endfor %}
                </div>
                <div class="child3">
                </div>
                </div>

<!-- {% else %}
    <div class="p-4 m-4 text-center">
      <h5 class="text-info">You don't have permission to see this page</h5>
      <p><a href="{% url 'users:home'  %}">Go back</a> to the home page</p>
    </div>

{% endif %} -->



{% endblock %}
