{% load staticfiles %}


    <div class="container text-center">
      <div class="row">

        <div class="col-md-4 social-button mb-4">
          <a class="social-icon1" data-tooltip="Twitter" href="https://twitter.com/MikeLTuttle">
            <i class="social-button-size  fa fa-twitter fa-5x" aria-hidden="true"></i>
          </a>
        </div>


          <div class="col-md-4 social-button mb-4">
            <a class="social-icon1" data-tooltip="Facebook" href="https://www.facebook.com/EMEUPCI/">
              <i class="fa fa-facebook fa-5x" aria-hidden="true"></i>
            </a>
          </div>


          <div class="col-md-4 social-button mb-4">
            <a class="social-icon1" data-tooltip="YouTube" href="https://www.youtube.com/watch?v=8J-Y5NlxIn4">
              <i class="fa fa-youtube fa-5x" aria-hidden="true"></i>
            </a>
          </div>


          <div class="col-md-4 social-button mb-4">
            <a class="social-icon1" data-tooltip="Instagram" href="https://www.instagram.com/emeupci/">
              <i class="fa fa-instagram fa-5x" aria-hidden="true"></i>
            </a>
          </div>


          <div class="col-md-4 social-button mb-4">
            <a class="social-icon1" data-tooltip="Gplus" href="https://plus.google.com/collection/0sYAmE">
              <i class="fab fa-google-plus-g fa-5x" aria-hidden="true"></i>
            </a>
          </div>


    </div>
    </div>
  </section>
