{% extends 'shared/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<br>
<div class="message">
  <div>
    {% for messages in messages %}
    <p class="alert alert-success">{{messages}}</p>
    {% endfor %}
  </div>
</div
<br>
<br>

<div class="container mt-4 border-bottom">
  <div class="row">

    <div class="image-media">
      <img class="rounded-circle account-img" style="width: 220px; height: 226px;" src="{{ user.profile.image.url }}">
    </div>

    <div class="info ml-5 mr-5">
      <h4 class="account-heading mb-2"> Profile Information </h4>
       <p class="text-secondary"> First name: {{ user.first_name }} </p>
       <p class="text-secondary"> Last name: {{ user.last_name }}   </p>
       <p class="text-secondary"> Email: {{ user.email }}           </p>
       <p class="text-secondary"> Country: {{ user.country }}       </p>
       <p class="text-secondary"> City: {{ user.city }}             </p>
       <p class="text-secondary"> username: {{ user.username }}     </p>
    </div>

    <div class="info ml-5">
      <p class="account-heading mb-2 mt-4" style="font-size: 15px;"> Click <a href="{% url 'users:post-page' %}">here</a> to see the churches added by: </p>
      <h5 class="text-center"><strong>{{user.first_name}} {{user.last_name}}</strong></h5> 
      <br>
      <br>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; or click  <a href="{% url 'users:post-create' %}">here</a> to add a church
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>


  </div>
</div>
<br>
<br>
<div class="container mt-4 border-bottom">
  <div class="row">

    <div class="form-container">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
          <fieldset class="form-group" style="width: 320px;">
            <legend class="border-bottom mb-2">Update Profile Info</legend>
              {{ uform.first_name|as_crispy_field }}
              {{ uform.last_name|as_crispy_field }}
              {{ uform.email|as_crispy_field }}
              {{ pform }}
          </fieldset>
            <div class="form-group" >
              <button style="border-radius: 0; width: 200px;" class="btn btn-info btn-block" type="submit">Update</button>
            </div>
      </form>
    </div>

</div>
</div>

  {% endblock %}
