{% extends 'shared/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<br>
<br>
<br>
    <div class="d-flex p-2 bd-highlight"">
      <div class="d-inline-flex p-2 bd-highlight">

        <div class="p-1">
          <iframe class="latestVideoEmbed" vnum='0' cid="UCrhdp1UfyUQG7GYJSF7xUVQ" width="400" height="340" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
          <h2 class="title"></h2>
        </div>

        <div class="p-1">
          <iframe class="latestVideoEmbed" vnum='1' cid="UCrhdp1UfyUQG7GYJSF7xUVQ" width="400" height="340" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
          <h2 class="title"></h2>
        </div>

        <div class="p-1">
          <iframe class="latestVideoEmbed" vnum='2' cid="UCrhdp1UfyUQG7GYJSF7xUVQ" width="400" height="340" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
          <h2 class="title"></h2>
        </div>

        <div class="p-1">
          <iframe class="latestVideoEmbed" vnum='3' cid="UCrhdp1UfyUQG7GYJSF7xUVQ" width="400" height="340" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
          <h2 class="title"></h2>
        </div>

        <div class="p-1">
          <iframe class="latestVideoEmbed" vnum='4' cid="UCrhdp1UfyUQG7GYJSF7xUVQ" width="400" height="340" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
          <h2 class="title"></h2>
        </div>

        <div class="p-1">
          <iframe class="latestVideoEmbed" vnum='5' cid="UCrhdp1UfyUQG7GYJSF7xUVQ" width="400" height="340" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
          <h2 class="title"></h2>
        </div>

        <div class="p-1">
          <iframe class="latestVideoEmbed" vnum='6' cid="UCrhdp1UfyUQG7GYJSF7xUVQ" width="400" height="340" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
          <h2 class="title"></h2>
        </div>

        <div class="p-1">
          <iframe class="latestVideoEmbed" vnum='7' cid="UCrhdp1UfyUQG7GYJSF7xUVQ" width="400" height="340" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
          <h2 class="title"></h2>
        </div>

        <div class="p-1">
          <iframe class="latestVideoEmbed" vnum='8' cid="UCrhdp1UfyUQG7GYJSF7xUVQ" width="400" height="340" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
          <h2 class="title"></h2>
        </div>

      </div>
    </div>

{% endblock %}