{% extends 'shared/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="container1">
    <div class="">
    <div class="row align-items-center justify-content-center">
        <div class="m-4">
            <iframe class="latestVideoEmbed col-lg-18 col-md-12 col-sm-12" vnum='0' cid="UCrhdp1UfyUQG7GYJSF7xUVQ" width="600" height="250" frameborder="0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
        </div>
        <div class="m-4">
            <iframe class="latestVideoEmbed col-lg-18 col-md-12 col-sm-12" vnum='1' cid="UCrhdp1UfyUQG7GYJSF7xUVQ" width="600" height="250" frameborder="0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
        </div>
        <div class="m-4">
            <iframe class="latestVideoEmbed col-lg-18 col-md-12 col-sm-12" vnum='2' cid="UCrhdp1UfyUQG7GYJSF7xUVQ" width="600" height="250" frameborder="0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
        </div>
        <div class="m-4">
            <iframe class="latestVideoEmbed col-lg-18 col-md-12 col-sm-12" vnum='3' cid="UCrhdp1UfyUQG7GYJSF7xUVQ" width="600" height="250" frameborder="0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
        </div>
        <div class="m-4">
            <iframe class="latestVideoEmbed col-lg-18 col-md-12 col-sm-12" vnum='4' cid="UCrhdp1UfyUQG7GYJSF7xUVQ" width="600" height="250" frameborder="0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
        </div>
        <div class="m-4">
            <iframe class="latestVideoEmbed col-lg-18 col-md-12 col-sm-12" vnum='5' cid="UCrhdp1UfyUQG7GYJSF7xUVQ" width="600" height="250" frameborder="0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
        </div>
        <div class="m-4">
            <iframe class="latestVideoEmbed col-lg-18 col-md-12 col-sm-12" vnum='6' cid="UCrhdp1UfyUQG7GYJSF7xUVQ" width="600" height="250" frameborder="0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
        </div>
        <div class="m-4">
            <iframe class="latestVideoEmbed col-lg-18 col-md-12 col-sm-12" vnum='7' cid="UCrhdp1UfyUQG7GYJSF7xUVQ" width="600" height="250" frameborder="0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
        </div>
        <div class="m-4">
            <iframe class="latestVideoEmbed col-lg-18 col-md-12 col-sm-12" vnum='7' cid="UCrhdp1UfyUQG7GYJSF7xUVQ" width="600" height="250" frameborder="0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
        </div>

    </div>
    </div>
</div>

{% endblock %}