{% extends 'shared/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container mt-6">
    <div class="justify-content-center align-items-center"></div>
    <div class="row text-center">    
        <div class="m-4">
            <iframe class="latestVideoEmbed" vnum='0' cid="UC7WnrV5aBx7LjWp0lorB73Q" width="450" height="240" frameborder="0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
        </div>
        <div class="m-4">
            <iframe class="latestVideoEmbed" vnum='1' cid="UC7WnrV5aBx7LjWp0lorB73Q" width="450" height="240" frameborder="0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
        </div>
        <div class="m-4">
            <iframe class="latestVideoEmbed" vnum='2' cid="UC7WnrV5aBx7LjWp0lorB73Q" width="450" height="240" frameborder="0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
        </div>
        <div class="m-4">
            <iframe class="latestVideoEmbed" vnum='3' cid="UC7WnrV5aBx7LjWp0lorB73Q" width="450" height="240" frameborder="0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
        </div>        

    </div>    
    </div>
</div>

{% endblock %}